
@{
    ViewData["Title"] = "Courses";
    Layout = "_Layout";
}

<!-- Page Banner Start -->
@await Html.PartialAsync("_PageBannerStart")
<!-- Page Banner End -->

    <!-- Courses Start -->
      <div class="section section-padding">
        <div class="container">
          <!-- Courses Category Wrapper Start  -->
          <div class="courses-category-wrapper">
            <div class="courses-search search-2">
              <input type="text" placeholder="Search here" />
              <button><i class="icofont-search"></i></button>
            </div>

            <ul class="category-menu">
              <li><a class="active" href="#">All Courses</a></li>
              <li><a href="#">Collections</a></li>
              <li><a href="#">Wishlist</a></li>
              <li><a href="#">Archived</a></li>
            </ul>
          </div>
          <!-- Courses Category Wrapper End  -->

          <!-- Courses Wrapper Start  -->
          <div class="courses-wrapper-02">
              <div class="row">
                  <div class="col-lg-4 col-md-6">
                      <!-- Single Courses Start -->
                      <div class="single-courses">
                          <div class="courses-images">
                              <a href="@Url.Action("CoursesDetails1", "CoursesDetails")">
                                  <img src="~/assets/images/courses/courses-01.jpg"
                                       alt="Courses" />
                              </a>

                              <div class="courses-option dropdown">
                                  <button class="option-toggle"
                                          data-bs-toggle="dropdown"
                                          aria-expanded="false">
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                      <li>
                                          <a href="#"><i class="icofont-share-alt"></i> Share</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-plus"></i> Create Collection</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-star"></i> Favorite</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-archive"></i> Archive</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="courses-content">
                              <div class="courses-author">
                                  <div class="author">
                                      <div class="author-thumb">
                                          <a href="#">
                                              <img src="~/assets/images/author/author-01.jpg"
                                                   alt="Author" />
                                          </a>
                                      </div>
                                      <div class="author-name">
                                          <a class="name" href="#">Amanda Harris</a>
                                          <a class="name-2" href="#">Mr. Liem</a>
                                      </div>
                                  </div>
                              </div>

                              <h4 class="title">
                                  <a href="@Url.Action("CoursesDetails1", "CoursesDetails")">
                                      English for Beginners
                                  </a>
                              </h4>

                              <div class="courses-rating">
                                  <p>38% Complete</p>

                                  <div class="rating-progress-bar">
                                      <div class="rating-line" style="width: 38%"></div>
                                  </div>

                                  <div class="rating-meta">
                                      <span class="rating-star">
                                          <span class="rating-bar" style="width: 80%"></span>
                                      </span>
                                      <p>Your rating</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Single Courses End -->
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <!-- Single Courses Start -->
                      <div class="single-courses">
                          <div class="courses-images">
                              <a href="@Url.Action("CoursesDetails2", "CoursesDetails")">
                                  <img src="~/assets/images/courses/courses-02.jpg"
                                       alt="Courses" />
                              </a>

                              <div class="courses-option dropdown">
                                  <button class="option-toggle"
                                          data-bs-toggle="dropdown"
                                          aria-expanded="false">
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                      <li>
                                          <a href="#"><i class="icofont-share-alt"></i> Share</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-plus"></i> Create Collection</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-star"></i> Favorite</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-archive"></i> Archive</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="courses-content">
                              <div class="courses-author">
                                  <div class="author">
                                      <div class="author-thumb">
                                          <a href="#">
                                              <img src="~/assets/images/author/author-03.jpg"
                                                   alt="Author" />
                                          </a>
                                      </div>
                                      <div class="author-name">
                                          <a class="name" href="#">Emily Johnson </a>
                                          <a class="name-2" href="#">Ohula Malsh</a>
                                      </div>
                                  </div>
                              </div>

                              <h4 class="title">
                                  <a href="@Url.Action("CoursesDetails2", "CoursesDetails")">
                                      Business English Essentials
                                  </a>
                              </h4>

                              <div class="courses-rating">
                                  <p>80% Complete</p>

                                  <div class="rating-progress-bar">
                                      <div class="rating-line" style="width: 80%"></div>
                                  </div>

                                  <div class="rating-meta">
                                      <span class="rating-star">
                                          <span class="rating-bar" style="width: 50%"></span>
                                      </span>
                                      <p><a href="#">Leave a rating</a></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Single Courses End -->
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <!-- Single Courses Start -->
                      <div class="single-courses">
                          <div class="courses-images">
                              <a href="@Url.Action("CoursesDetails3", "CoursesDetails")">
                                  <img src="~/assets/images/courses/courses-03.jpg"
                                       alt="Courses" />
                              </a>

                              <div class="courses-option dropdown">
                                  <button class="option-toggle"
                                          data-bs-toggle="dropdown"
                                          aria-expanded="false">
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                      <li>
                                          <a href="#"><i class="icofont-share-alt"></i> Share</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-plus"></i> Create Collection</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-star"></i> Favorite</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-archive"></i> Archive</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="courses-content">
                              <div class="courses-author">
                                  <div class="author">
                                      <div class="author-thumb">
                                          <a href="#">
                                              <img src="~/assets/images/author/author-02.jpg"
                                                   alt="Author" />
                                          </a>
                                      </div>
                                      <div class="author-name">
                                          <a class="name" href="#">Michael Brown</a>
                                      </div>
                                  </div>
                              </div>

                              <h4 class="title">
                                  <a href="@Url.Action("CoursesDetails3", "CoursesDetails")">
                                      	Advanced English Grammar
                                  </a>
                              </h4>

                              <div class="courses-rating">
                                  <p>15% Complete</p>

                                  <div class="rating-progress-bar">
                                      <div class="rating-line" style="width: 15%"></div>
                                  </div>

                                  <div class="rating-meta">
                                      <span class="rating-star">
                                          <span class="rating-bar" style="width: 80%"></span>
                                      </span>
                                      <p>Your rating</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Single Courses End -->
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <!-- Single Courses Start -->
                      <div class="single-courses">
                          <div class="courses-images">
                              <a href="@Url.Action("CoursesDetails4", "CoursesDetails")">
                                  <img src="~/assets/images/courses/courses-04.jpg"
                                       alt="Courses" />
                              </a>

                              <div class="courses-option dropdown">
                                  <button class="option-toggle"
                                          data-bs-toggle="dropdown"
                                          aria-expanded="false">
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                      <li>
                                          <a href="#"><i class="icofont-share-alt"></i> Share</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-plus"></i> Create Collection</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-star"></i> Favorite</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-archive"></i> Archive</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="courses-content">
                              <div class="courses-author">
                                  <div class="author">
                                      <div class="author-thumb">
                                          <a href="#">
                                              <img src="~/assets/images/author/author-04.jpg"
                                                   alt="Author" />
                                          </a>
                                      </div>
                                      <div class="author-name">
                                          <a class="name" href="#">Sarah Williams </a>
                                          <a class="name-2" href="#">John Wich</a>
                                      </div>
                                  </div>
                              </div>

                              <h4 class="title">
                                  <a href="@Url.Action("CoursesDetails4", "CoursesDetails")">
                                      IELTS Preparation Guide
                                  </a>
                              </h4>

                              <div class="courses-rating">
                                  <p>70% Complete</p>

                                  <div class="rating-progress-bar">
                                      <div class="rating-line" style="width: 70%"></div>
                                  </div>

                                  <div class="rating-meta">
                                      <span class="rating-star">
                                          <span class="rating-bar" style="width: 70%"></span>
                                      </span>
                                      <p><a href="#">Leave a rating</a></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Single Courses End -->
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <!-- Single Courses Start -->
                      <div class="single-courses">
                          <div class="courses-images">
                              <a href="@Url.Action("CoursesDetails5", "CoursesDetails")">
                                  <img src="~/assets/images/courses/courses-05.jpg"
                                       alt="Courses" />
                              </a>

                              <div class="courses-option dropdown">
                                  <button class="option-toggle"
                                          data-bs-toggle="dropdown"
                                          aria-expanded="false">
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                      <li>
                                          <a href="#"><i class="icofont-share-alt"></i> Share</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-plus"></i> Create Collection</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-star"></i> Favorite</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-archive"></i> Archive</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="courses-content">
                              <div class="courses-author">
                                  <div class="author">
                                      <div class="author-thumb">
                                          <a href="#">
                                              <img src="~/assets/images/author/author-10.jpg"
                                                   alt="Author" />
                                          </a>
                                      </div>
                                      <div class="author-name">
                                          <a class="name" href="#">David Anderson </a>
                                          <a class="name-2" href="#">Mr Liem</a>
                                      </div>
                                  </div>
                              </div>

                              <h4 class="title">
                                  <a href="@Url.Action("CoursesDetails5", "CoursesDetails")">
                                      English Conversation Mastery
                                  </a>
                              </h4>

                              <div class="courses-rating">
                                  <p>20% Complete</p>

                                  <div class="rating-progress-bar">
                                      <div class="rating-line" style="width: 20%"></div>
                                  </div>

                                  <div class="rating-meta">
                                      <span class="rating-star">
                                          <span class="rating-bar" style="width: 80%"></span>
                                      </span>
                                      <p><a href="#">Leave a rating</a></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Single Courses End -->
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <!-- Single Courses Start -->
                      <div class="single-courses">
                          <div class="courses-images">
                              <a href="@Url.Action("CoursesDetails6", "CoursesDetails")">
                                  <img src="~/assets/images/courses/courses-01.jpg"
                                       alt="Courses" />
                              </a>

                              <div class="courses-option dropdown">
                                  <button class="option-toggle"
                                          data-bs-toggle="dropdown"
                                          aria-expanded="false">
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                      <li>
                                          <a href="#"><i class="icofont-share-alt"></i> Share</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-plus"></i> Create Collection</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-star"></i> Favorite</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-archive"></i> Archive</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="courses-content">
                              <div class="courses-author">
                                  <div class="author">
                                      <div class="author-thumb">
                                          <a href="#">
                                              <img src="~/assets/images/author/author-08.jpg"
                                                   alt="Author" />
                                          </a>
                                      </div>
                                      <div class="author-name">
                                          <a class="name" href="#">Jennifer Lee </a>
                                      </div>
                                  </div>
                              </div>

                              <h4 class="title">
                                  <a href="@Url.Action("CoursesDetails6", "CoursesDetails")">
                                      TOEFL Success Strategies
                                  </a>
                              </h4>

                              <div class="courses-rating">
                                  <p>80% Complete</p>

                                  <div class="rating-progress-bar">
                                      <div class="rating-line" style="width: 80%"></div>
                                  </div>

                                  <div class="rating-meta">
                                      <span class="rating-star">
                                          <span class="rating-bar" style="width: 0%"></span>
                                      </span>
                                      <p><a href="#">Leave a rating</a></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Single Courses End -->
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <!-- Single Courses Start -->
                      <div class="single-courses">
                          <div class="courses-images">
                              <a href="@Url.Action("CoursesDetails7", "CoursesDetails")">
                                  <img src="~/assets/images/courses/courses-06.jpg"
                                       alt="Courses" />
                              </a>

                              <div class="courses-option dropdown">
                                  <button class="option-toggle"
                                          data-bs-toggle="dropdown"
                                          aria-expanded="false">
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                      <li>
                                          <a href="#"><i class="icofont-share-alt"></i> Share</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-plus"></i> Create Collection</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-star"></i> Favorite</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-archive"></i> Archive</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="courses-content">
                              <div class="courses-author">
                                  <div class="author">
                                      <div class="author-thumb">
                                          <a href="#">
                                              <img src="~/assets/images/author/author-06.jpg"
                                                   alt="Author" />
                                          </a>
                                      </div>
                                      <div class="author-name">
                                          <a class="name" href="#">Pamela Foster </a>
                                          <a class="name-2" href="#">Mr Liem</a>
                                      </div>
                                  </div>
                              </div>

                              <h4 class="title">
                                  <a href="@Url.Action("CoursesDetails7", "CoursesDetails")">
                                      Everyday English Expressions
                                  </a>
                              </h4>

                              <div class="courses-rating">
                                  <p>80% Complete</p>

                                  <div class="rating-progress-bar">
                                      <div class="rating-line" style="width: 80%"></div>
                                  </div>

                                  <div class="rating-meta">
                                      <span class="rating-star">
                                          <span class="rating-bar" style="width: 100%"></span>
                                      </span>
                                      <p><a href="#">Leave a rating</a></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Single Courses End -->
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <!-- Single Courses Start -->
                      <div class="single-courses">
                          <div class="courses-images">
                              <a href="@Url.Action("CoursesDetails8", "CoursesDetails")">
                                  <img src="~/assets/images/courses/courses-02.jpg"
                                       alt="Courses" />
                              </a>

                              <div class="courses-option dropdown">
                                  <button class="option-toggle"
                                          data-bs-toggle="dropdown"
                                          aria-expanded="false">
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                      <li>
                                          <a href="#"><i class="icofont-share-alt"></i> Share</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-plus"></i> Create Collection</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-star"></i> Favorite</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-archive"></i> Archive</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="courses-content">
                              <div class="courses-author">
                                  <div class="author">
                                      <div class="author-thumb">
                                          <a href="#">
                                              <img src="~/assets/images/author/author-09.jpg"
                                                   alt="Author" />
                                          </a>
                                      </div>
                                      <div class="author-name">
                                          <a class="name-2" href="#">Laura Martinez</a>
                                      </div>
                                  </div>
                              </div>

                              <h4 class="title">
                                  <a href="@Url.Action("CoursesDetails8", "CoursesDetails")">
                                      Writing Professional Emails in English
                                  </a>
                              </h4>

                              <div class="courses-rating">
                                  <p>10% Complete</p>

                                  <div class="rating-progress-bar">
                                      <div class="rating-line" style="width: 10%"></div>
                                  </div>

                                  <div class="rating-meta">
                                      <span class="rating-star">
                                          <span class="rating-bar" style="width: 100%"></span>
                                      </span>
                                      <p><a href="#">Leave a rating</a></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Single Courses End -->
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <!-- Single Courses Start -->
                      <div class="single-courses">
                          <div class="courses-images">
                              <a href="@Url.Action("CoursesDetails9", "CoursesDetails")">
                                  <img src="~/assets/images/courses/courses-03.jpg"
                                       alt="Courses" />
                              </a>

                              <div class="courses-option dropdown">
                                  <button class="option-toggle"
                                          data-bs-toggle="dropdown"
                                          aria-expanded="false">
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                      <li>
                                          <a href="#"><i class="icofont-share-alt"></i> Share</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-plus"></i> Create Collection</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-star"></i> Favorite</a>
                                      </li>
                                      <li>
                                          <a href="#"><i class="icofont-archive"></i> Archive</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="courses-content">
                              <div class="courses-author">
                                  <div class="author">
                                      <div class="author-thumb">
                                          <a href="#">
                                              <img src="~/assets/images/author/author-07.jpg"
                                                   alt="Author" />
                                          </a>
                                      </div>
                                      <div class="author-name">
                                          <a class="name-2" href="#">Daniel White</a>
                                      </div>
                                  </div>
                              </div>

                              <h4 class="title">
                                  <a href="@Url.Action("CoursesDetails9", "CoursesDetails")">
                                      Pronunciation Perfected
                                  </a>
                              </h4>

                              <div class="courses-rating">
                                  <p>80% Complete</p>

                                  <div class="rating-progress-bar">
                                      <div class="rating-line" style="width: 80%"></div>
                                  </div>

                                  <div class="rating-meta">
                                      <span class="rating-star">
                                          <span class="rating-bar" style="width: 70%"></span>
                                      </span>
                                      <p><a href="#">Leave a rating</a></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Single Courses End -->
                  </div>
              </div>
          </div>
          <!-- Courses Wrapper End  -->
        </div>
      </div>
      <!-- Courses End -->